<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilesSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />      
    </startup>
    <userSettings>
        <FilesSearch.Properties.Settings>
            <setting name="StartupDirectory" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="FileNamePattern" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="FileContentPattern" serializeAs="String">
                <value>text_to_search</value>
            </setting>
        </FilesSearch.Properties.Settings>
    </userSettings>
</configuration>